html,
body {
  height: 100%;
}
.pure-g-r {
  background-color: #ecf5fc;
  height: 100%;
}
.pure-g-r .question {
  transition: width 2s ease 0s;
  background-color: #FFF;
  min-height: 100%;
}
.pure-g-r .question.pure-u-1 {
  width: 100%;
}
.pure-g-r .question.pure-u-2 {
  width: 50%;
}
.pure-g-r .question textarea {
  background-color: #EEE;
  border: 1px solid #DDD;
  margin: 2%;
  min-width: 94%;
  max-width: 94%;
  padding: 2% 0 0 2%;
  min-height: 350px;
  max-height: 350px;
  color: #AAA;
  font-weight: lighter;
}
.pure-g-r .question textarea.error {
  background-color: #FFC0CB;
  border: 1px solid #CD5C5C;
  color: #CD5C5C;
}
.pure-g-r .question hr {
  width: 96%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #DDD;
}
.pure-g-r .question h1 {
  text-align: center;
  font-weight: 400;
}
.pure-g-r .question h2 {
  font-weight: 300;
  text-align: center;
  text-shadow: none;
}
.pure-g-r .question #beautify {
  text-align: center;
  font-size: 125%;
}
.pure-g-r .question .link {
  text-decoration: none;
  color: #3B8FD0;
}
.pure-g-r .question .link:hover {
  text-decoration: underline;
}
.pure-g-r .question #other-options {
  color: #888;
  display: inline-block;
  line-height: 2.5em;
  margin: 0 2%;
  width: 96%;
}
.pure-g-r .response {
  background-color: #ecf5fc;
  min-height: 100%;
}
.pure-g-r .response .fk-result.fine {
  background-color: white;
  height: 375px;
  margin: 7.5em 1.9em;
  overflow: auto;
  padding: 2% 0 0 2%;
}
.pure-g-r .response .fk-result .pure-table {
  border: none;
}
.pure-g-r .response .fk-result .pure-table thead {
  font-size: 1.25em;
  background-color: transparent;
}
.pure-g-r .response.hidden {
  display: none;
}
.pure-g-r .formatter {
  font-family: monospace;
  font-size: 1.1em;
}
.pure-g-r .formatter.formatter-string {
  color: red;
  font-weight: 400;
}
.pure-g-r .formatter.formatter-number {
  color: green;
}
.pure-g-r .formatter.formatter-boolean {
  color: purple;
}
.pure-g-r .formatter.formatter-null,
.pure-g-r .formatter.formatter-undefined {
  color: purple;
}
